

/*!
	*Nav Menu Styles
*/

.navbar
{
    background-color: #2E6393;
}

.dropdown-menu
{
    background-color: #2E6393;
}

.navbar-default .navbar-nav > li > a
{
    color: white;
}

.dropdown-menu > li > a
{
    color: white;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus
{
    color: whitesmoke;
    text-decoration: none;
    background-color: grey;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus
{
    color: yellowgreen;
    background-color: #e7e7e7;
}

.navbar-default .navbar-brand
{
    color: white;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus
{
    color: #5e5e5e;
    background-color: transparent;
}

/*!
	*Brand Header Container
*/

.rowheightheader
{
    height: 300px;
    margin-top: 0px;
    margin-bottom: 20px;
    padding-top: 250px;
    padding-bottom: 0px;
    background-repeat: no-repeat;
}

/*!
	*Content
*/

.container
{
    width: 100%;
}

/*!
	*Footer
*/

.panel-footer
{
    padding: 10px 15px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    text-align: center;
    background-color: #2E6393;
    color: white;
}

@media only screen and (min-width:768px)
{
    .navbar-centre
    {
        left: 35%;
        position: absolute;
        font-family: Baumans;
        font-size: large;
        text-transform: uppercase;
    }
}



